<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
      <tr>
        <td>ID</td>
        <td>First name</td>
        <td>Last name</td>
        <td>Car model</td>
        <td>Price</td>
        <td>Hours</td>
      </tr>
      {{range .}}
      <tr>
        <td>{{.Id}}</td>
        <td>{{.FirstName}}</td>
        <td>{{.LastName}}</td>
        {{if eq .CarModel "camry"}}
        <td>Really Kazakh!</td>
        {{else}}
        <td>{{.CarModel}}</td>
        {{end}}

        <td>{{.Price}}</td>
        <td>{{.Hours}}</td>
      </tr>
      {{end}}
    </table>
</body>
</html>